<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="__STATIC__/admin/blogin/css/pages.css" rel="stylesheet" type="text/css" charset="UTF-8" />
		<script type="text/javascript" src="__STATIC__/admin/blogin/js/jquery.min.js"></script>
		<script src="__STATIC__/admin/blogin/js/jquery.SuperSlide.2.1.1.js"></script>
	</head>

	<body>
		<!--头部开始-->
		<div class="header">
			<div class="mbox relative">
				<div class="header_left">
					<img src="__STATIC__/admin/blogin/images/weizhi.png" />
					<p>地址定位：山东省-济南市</p>
					<div class="clear"></div>
					<div class="header_posi">
						<ul>
							<li>北京</li>
							<li>上海</li>
							<li>山东</li>
							<li>山西</li>
							<li>河北</li>
							<li>河南</li>
							<li>湖北</li>
							<li>湖南</li>
						</ul>
					</div>
				</div>
				<div class="header_right">
					<span>请登录</span>
					<ul>
						<font>
							<li>免费注册</li>
						</font>
						<li>会员中心</li>
						<li>商户服务</li>
						<div class="clear"></div>
					</ul>
					<span><font>服务热线：400-8888-8888</font></span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--头部结束-->

		<!--广告开始-->
		<div class="gg"></div>
		<!--广告结束-->

		<!--logo开始-->
		<div class="logo">
			<div class="mbox">
				<div class="logo_left">
					<img src="__STATIC__/admin/blogin/images/logo.jpg" />
				</div>
				<div class="logo_center">
					<img src="__STATIC__/admin/blogin/images/yu.jpg" />
					<div class="weizhi">
						<img src="__STATIC__/admin/blogin/images/weizhi.png" />
						<span>定位:</span>
						<a href="/">山东省-济南市</a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="logo_right">
					<div class="input">
						<input type="text" class="input1" placeholder="  请输入搜索内容" />
						<input type="button" value="搜索" class="input2" />
						<div class="clear"></div>
					</div>
					<ul>
						<li>整机电数</li>
						<li>DIY散热件</li>
						<li>周边配件</li>
						<li>手机通讯</li>
						<li>数码存储</li>
						<li>办公设备</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!--logo结束-->

		<!--nav开始-->
		<div class="nav_ny">
			<div class="mbox">
				<div class="menu" id="menu">
					<img src="__STATIC__/admin/blogin/images/menu.png" />
					<p>全部商品分类</p>
					<div class="clear"></div>
              		
				</div>
				<ul>
					<li>首页</li>
					<li>采购中心</li>
					<li class="selected">渠道通</li>
					<li>平台资讯</li>
					<li>常见问题</li>
					<div class="clear"></div>
				</ul>
				<div class="gongyingshang"></div>
				<div class="clear"></div>
			</div>
		</div>
		<!--nav结束-->
		<div class="banner">
			
			<div class="mbox relative">
				      <div class="absolute">
					<ul id="nav">
						<li id="mainCate-1" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/diannao.png" width="20"/>
							<p>整机电教</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-2" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/shubiao.png" width="20"/>
							<p>DIY散件</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-3" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/jianpan.png" width="20"/>
							<p>周边配件</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-4" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/shouji.png" width="20"/>
							<p>手机通讯</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-5" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/cunka.png" width="20"/>
							<p>数码存储</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-6" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/bangong.png" width="20"/>
							<p>办公设备</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-7" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/dayin.png" width="20"/>
							<p>办公耗材</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-8" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/wifi.png" width="20"/>
							<p>网络通信</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
						<li id="mainCate-9" class="mainCate">
							<img src="__STATIC__/admin/blogin/images/jiankong.png" width="20"/>
							<p>安防监控</p>
							<div class="clear"></div>
							<div class="subCate">
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
								<div class="erji">
									<p>手机</p>
									<div class="leixing">
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
										<span>手机</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
				
		
		<script id="jsID" type="text/javascript">
		jQuery(".slideBox").slide( { mainCell:".bd ul",autoPlay:true });
		</script>
		</div>
		
		
		<script type="text/javascript">
			jQuery("#nav").slide({
				type: "menu",
				titCell: ".mainCate",
				targetCell: ".subCate",
				delayTime: 0,
				triggerTime: 0,
				defaultPlay: false,
				returnDefault: true
			});
		</script>
        
		<!--banner结束-->


<!--登录页面开始-->	
<div class="denglu">
	<div class="DL_con">
    	<div class="denglu_con">
        	<h2>商户登录</h2>
        	<form action="{:url('Login/login')}" method="post">
            <input class="zhanghao" type="text" value="" name="name" placeholder="账号|或邮箱"/>
            <input class="mima" type="password" value="" name="password" placeholder="密码"/>
            <div id="ewm">
            	<input type="text" name="captcha" value="" placeholder="验证码"/>
                <div><img  style="width: 90px; height: 50px" id="verify_img" src="{:captcha_src()}" alt="验证码" onclick="refreshVerify()">
                <p>看不清？<a href="javascript:refreshVerify()">点击刷新</a></div></p>
                <h5><a href="">忘记密码？</a></h5>
            </div>
            
            <input class="tj" type="submit" value="提交"/>
            </form>
            <h3>还没有账号？<a href="#">立即注册!</a></h3>
        </div>
        <div class="clear"></div>
	</div>


</div>


<!--登录页面结束-->

			<!--管理开始-->
		<div class="guanli">
			<div class="mbox">
				<div class="guanli_top">
					<ul>
						<li>
							<img src="__STATIC__/admin/blogin/images/sheng.png" />
							<div class="guanli_sheng">
								<p>省钱实惠</p>
								<font>50000+高性价比商品</font>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<img src="__STATIC__/admin/blogin/images/bao.png" />
							<div class="guanli_sheng">
								<p>售后保证</p>
								<font>为您提供售后无忧保障</font>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<img src="__STATIC__/admin/blogin/images/zhi.png" />
							<div class="guanli_sheng">
								<p>100%品质保障</p>
								<font>全场正品,采购无忧</font>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<img src="__STATIC__/admin/blogin/images/bi.png" />
							<div class="guanli_sheng">
								<p>货比三家</p>
								<font>比一比,价格更透明</font>
							</div>
							<div class="clear"></div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="guanli_bottom">
					<div class="bt_left">
						<ul>
							<font>新手入门</font>
							<a href="/">
								<li>注册/登录</li>
							</a>
							<a href="/">
								<li>会员认证</li>
							</a>
							<a href="/">
								<li>找回密码</li>
							</a>
							<a href="/">
								<li>账号管理</li>
							</a>
							<a href="/">
								<li>会员权益</li>
							</a>
						</ul>
						<ul>
							<font>使用指南</font>
							<a href="/">
								<li>查找商家</li>
							</a>
							<a href="/">
								<li>查找商品</li>
							</a>
							<a href="/">
								<li>如何升级</li>
							</a>
							<a href="/">
								<li>关于置顶</li>
							</a>
							<a href="/">
								<li>关于商铺</li>
							</a>
						</ul>
						<ul>
							<font>售后/售前</font>
							<a href="/">
								<li>售前支持</li>
							</a>
							<a href="/">
								<li>售后服务</li>
							</a>
							<a href="/">
								<li>付款说明</li>
							</a>
						</ul>
						<ul>
							<font>违规说明</font>
							<a href="/">
								<li>违规范围</li>
							</a>
							<a href="/">
								<li>处罚条例</li>
							</a>
							<a href="/">
								<li>违规曝光</li>
							</a>
							<a href="/">
								<li>免责声明</li>
							</a>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="bt_right">
						<ul>
							<font>官方微信</font>
							<li>
								<img src="__STATIC__/admin/blogin/images/weixin.jpg" />
							</li>
						</ul>
						<ul>
							<font>微信小程序</font>
							<li>
								<img src="__STATIC__/admin/blogin/images/weixin.jpg" />
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<!--管理结束-->

		<!--footer开始-->
		<div class="footer">
			<div class="mbox">
				<ul>
					<a href="/">
						<li>关于渠道精灵</li>
					</a>
					<a href="/">
						<li>联系我们</li>
					</a>
					<a href="/">
						<li>采购中心</li>
					</a>
					<a href="/">
						<li>渠道通</li>
					</a>
					<a href="/">
						<li>平台资讯</li>
					</a>
					<a href="/">
						<li>常见问题</li>
					</a>
					<li>客服热线：400-8888-8888</li>
					<div class="clear"></div>
				</ul>
				<p>济南儒商科技版权所有 | 鲁ICP备038973297号-1</p>
				<p>技术支持：诺商信息</p>
				<p>
					<a href="/"><img src="__STATIC__/admin/blogin/images/gongshang.jpg" /></a>
					<a href="/"><img src="__STATIC__/admin/blogin/images/gongshang.jpg" /></a>
					<a href="/"><img src="__STATIC__/admin/blogin/images/gongshang.jpg" /></a>
					<a href="/"><img src="__STATIC__/admin/blogin/images/gongshang.jpg" /></a>
				</p>
			</div>
		</div>

		<!--footer结束-->
		
		<!--右侧定位开始-->
		<div class="fixed">
			<div style="float: left;" class="fixed_right">
				<img src="__STATIC__/admin/blogin/images/fixed_right.png"/>
			</div>
			<ul style="float: right;">
				<div class="blank20"></div>
				<li>
					<img src="__STATIC__/admin/blogin/images/login.png" width="20"/>
					<p>登录</p>
				</li>
				<li>
					<img src="__STATIC__/admin/blogin/images/zhuce.png" width="20"/>
					<p>注册</p>
				</li>
				<li>
					<img src="__STATIC__/admin/blogin/images/kefu.png" width="20"/>
					<p>在线客服</p>
				</li>
				<div class="blank50"></div>
				<div class="blank50"></div>
				<div class="blank50"></div>
				<div class="blank50"></div>
				<div class="blank50"></div>
				<p><img src="__STATIC__/admin/blogin/images/bianji.png" width="20"/></p>
				<p><img src="__STATIC__/admin/blogin/images/saoma.png" width="20"/></p>
				<a href="#" onclick="scrollToTop();return false"><p><img src="__STATIC__/admin/blogin/images/huiding.png" width="20"/></p></a>
				<p id="guanbi"><img src="__STATIC__/admin/blogin/images/guanbi.png" width="20"/></p>
			</ul>
			<div class="clear"></div>
			<script type="text/javascript">
				$(document).ready(function(){
				  $("#guanbi").click(function(){
				  $('.fixed ul').animate({width:'toggle'},350);
				  });
				  $(".fixed_right").click(function(){
				  $('.fixed ul').animate({width:'toggle'},350);
				  });
				});
			</script>
            <script type="text/javascript">
				$(document).ready(function(){
				  $('#menu').mouseenter(function(){
				  	$('.absolute').stop().slideDown(300);
				  	$('.absolute').mouseenter(function(){
					  $('.absolute').stop();
					  
					  });
				  });
				  $("#menu, .absolute").mouseleave(function() {
					  	$('.absolute').stop().slideUp(250);
					  });
				});
			</script>
			<script>
				var timeOut;
				function scrollToTop() {
				if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
				window.scrollBy(0,-50);
				timeOut=setTimeout('scrollToTop()',10);
				}
				else clearTimeout(timeOut);
				}
			</script>

			<script>
    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        $('#verify_img').attr("src", "/captcha?id="+ts);
    }
</script>
		</div>
		
		
		
		<!--右侧定位结束-->
	</body>

</html>