{extend name="public/base" /}
{block name="main"}
<link href="__STATIC__/index/css/index.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/tpcj/dist/webuploader.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/tpcj/examples/image-upload/style.css" />
<script type="text/javascript" src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/tpcj/dist/webuploader.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/tpcj/css/webuploader.css" />
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" action="{:url('withdrawal/index')}" enctype="multipart/form-data" method="post">
        <!--<input type="hidden" id="image_url" name="image_url" />-->
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名称：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" class="input-text" value="" placeholder="" id="" name="goods_name">-->
        <!--</div>-->
        <!--</div>-->

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>可提金额：</label>
            <div class="formControls col-xs-4 col-sm-2">
                <input type="text" class="input-text" value="{$total}" placeholder="" readonly="readonly" id="" name="total">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>冻结金额：</label>
            <div class="formControls col-xs-4 col-sm-2">
                <input type="text" class="input-text" value="{$freezes}" readonly="readonly" placeholder="0" id="" name="freezes">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>请输入提现金额：</label>
            <div class="formControls col-xs-4 col-sm-2">
                <input type="text" class="input-text" value="0"  placeholder="100" id="" name="price">
            </div>
        </div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">

                <button onClick="article_save();" class="btn btn-secondary radius" type=""><i class="Hui-iconfont">&#xe632;</i>确认发货</button>

            </div>
        </div>
    </form>
</div>



{/block}
{/block}