<div class="order_left">
    <div class="orderL_nav">
        <p class="on">个人中心</p>
       <a href="{:url('Personal/index')}"><p>购物订单</p></a>
        <!--<p class="yy">已买到的宝贝<i></i></p>-->
        <!--<div class="con">-->
            <!--<ul>-->
                <!--<li>买到的宝贝</li>-->
                <!--<li>买到的宝贝</li>-->
                <!--<li>买到的宝贝</li>-->
                <!--<li>买到的宝贝</li>-->
            <!--</ul>-->
        <!--</div>-->
        <a href="{:url('shipping/index')}"><p>地址管理</p></a>
        <a href="{:url('Personal/center')}"><p>修改密码</a>
        <a href="{:url('Merchant/index')}"><p>商家认证</a>
        <a href="{:url('bis/login/index')}"><p>商家登录</a>
        <a href="{:url('Personal/isbis')}"><p>商家后台</a>
    </div>
</div>